body{
    background-image: radial-gradient(rgb(244, 247, 221),rgb(117, 255, 4)); height: 1000px; width: 1000px;
}
h1{
    text-align: left;
    color: rgb(20, 110, 139);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}