body {

    /* Example: gradient from light blue to light red */
    background-image: linear-gradient(to right, #ace6f4, #be250d);
    background-image: -webkit-linear-gradient(to right, #ace6f4, #be250d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h4 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8e0974;
}