body {
    background-image: linear-gradient(rgb(31, 250, 31),black); height: 950px; width: 950px;
}
h1 {
    font-family: cursive;
    text-align: center;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
h5 {

font-family: cursive;
    
}
