body {
      background-image: radial-gradient(rgb(247, 168, 21),rgb(41, 240, 88)); height: 1000px; width: 1000px;
}
h1 {
     color: rgb(61, 117, 5);
     text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p {
   font-family: sans-serif;
   font-size: medium;

}
h3 {
   font-family: cursive;
      font: bold;
      color: mediumslateblue;
}
.topnav {
      background-color: 333;
      overflow: hidden;
}
topnav a{
      float: left;
      color: rgb(73, 209, 10);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
}
.topnav a:hover {
      background-color: rgb(2, 155, 160);
      color: black;
}
.topnav a.active {
      background-color: 04AA6D;
      color: rgb(0, 255, 255);
}
h2 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: darkorange;
}
hr {
      text-align: right;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
  text-align: center;

}
h5 {
  text-align: center;
  font-family: cursive;
}
.center {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 10%;
}
a {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
