body{

   background-color: rgb(105, 101, 101);
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-image: image(cool);


}
h1 {

text-align: center;
   
}
